//for hpe theme, use the following import instead
//@import '~grommet/scss/hpe/index';

@import '~grommet/scss/vanilla/index';



//UTILITIES
    //PLACEMENT
        .center{
            margin:0 auto;
        }
        .text-center{
            text-align:center;
        }
        .button-center{
            text-align:center;
        }
        .no-bottom-padding{
            padding-bottom:0px;
        }
    //BUTTONS
        .c-black-outline{
            border:2px solid #333;
            width:100%;
            &:hover{
                box-shadow: 0px 0px 0px 2px #000000;
            }
        }
    
//OAUTH MOD
    //FACEBOOK
        .kep-login-facebook.metro, .grommet button:not(.button){
            border:2px solid #333;
            width:100%;
            &:hover{
                box-shadow: 0px 0px 0px 2px #000000;
            }
        }

//GROMMET MODIFICATIONS
    //BRICKS
        .background-color-index-neutral-6 {
            background-color:#f5f5f5;
            border:1px solid #333;
            div {
                color:#333;
            }
            .brick__label span{
                color:#333;
            }
        }
        div.background-color-index-neutral-6 {
            border:1px solid #333;
            div {
                color:#333;
            }
            .brick__label span {
                color:#333;
            }
        }
    //HEADER - MENU
        header.background-color-index-neutral-6 {
            background-color:#333;
            border-top:1px solid #333;
            border-bottom:1px solid #333;
            border-right:none;
            border-left:none;
            div {
                color: #fcfcfc;
                font-size: .55em;
            }    
            .header {
                min-height:15px !important;
                height:15px !important;
            }
        }
        .header {
            min-height:15px !important;
            height:15px !important;
        }
        .grommet.drop .box {
            nav.box a.anchor{
                color:#333;
                &:first-child {
                    padding-top:23px;
                }
            }
            button {
                height:15px;
            }
        }
        a.anchor.active:hover {
            font-weight:700;
            color:#555;
            -webkit-transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            -ms-transition: all 0.6s ease;
        }
        .menu:focus:not(.menu--expanded):after {
            border:none;
            box-shadow:none;
        }



//WELCOME MODIFICATION
    //HEADER
        .primaryTitle{
            margin-top: 19px;
        }
        .secondaryTitle{
            margin-top: 17px;
        }



//QUESTION MODIFICATIONS
    //TITLE
        .title{
            overflow:visible;
        }
    //ACTIVATED BUTTONS
        .button:focus:not(.button--disabled) {
            border-color: inherit;
        }
        .button:focus(.button--disabled) {
            border-color: inherit;
        }
    //QUESTION BOX
        .box.question {
            margin:20px auto;
            max-width:570px;
            border:1px solid black;
            padding:20px;
            background-color:#fcfcfc;
        }
        .button.button--accent {
            width:100%;
            background-color:#fefefe;
        }
        .margindown {
            margin-bottom:12px;
        }
        @media screen and (max-width: 600px) {
            .box.question{
                padding:0px;
                border:none;
            }
        }
    //QUESTION OPTIONS
        .button:not(.button--disabled):not(.button--plain):not(.button--fill):hover {
            box-shadow: 0px 0px 0px 2px #000000;
        }
        .option-list button{
            border:2px solid #333;
        }



// STATISTICS CSS
    //MOSAIC
        div.pin-wrapper {
        	display: -ms-flexbox;
        	-ms-flex-direction: column;
        	-ms-flex-wrap: wrap;
        	display: flex;
        	// BREAKS THE MOSAIC //  flex-direction: column;
        	flex-wrap: wrap;
        	height: 100vw;
        	font-size: 0; 
        	padding: 20px;
        }
        div.pin-wrapper .pin-box { 
        	width: 33.3%;
        	padding: 10px;
        }
        @media (max-width: 600px) {
        	div.pin-wrapper { height: 400vw; }
            div.pin-wrapper .pin-box { width: 100%; }
        }
        @media (max-width: 600px) {
        	div.pin-wrapper { height: 300vw; }
            div.pin-wrapper .pin-box { width: 50%; }
        }
    //DEBUG METER
        .stats-1 .meter{
            margin:0 auto;
        }
        

//ABOUT US
    .aboutus{
        font-size:1.15em;
        letter-spacing:1px;
    }
    .response{
        text-align:right;
    }